/* App-wide styling */
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #0f1116;
  color: darkslategray;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* my stuff */
}

.dashboard-container {
  display: grid;
  grid-template-columns:
    /*200px*/
    auto 1fr;
  height: 100vh;
  width: 100vw;
}

.navbar {
  width: 200px;
  height: 100vh;
  background-color: #777;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 15px 10px; */
  /* gap: 15px; */
  border-right: 2px solid #333;
  box-sizing: border-box;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 150%;
  padding: 15px;
  margin: 25%;
  margin-left: -2.5rem;
  border-radius: 8px;
  background-color: #9b7ead;
  color: black;
  font-weight: bold;
  /* font-size: 1rem; */
  text-align: center;
  cursor: pointer;
  border: none;
}

.renderarea {
  height: 100vh;
  color: white;
  display: grid;
  align-items: center;
  justify-content: center;
  /* display: grid; */
  /* flex-grow: 1; */
  /* padding: 20px; */
  background-color: darkgreen;
}

.order-container {
  /* background-color: palevioletred; */
  display: grid;
  grid-template-rows:
    /*200px*/
    auto 1fr;
  width: 100vw;
  height: 100vh;
}

.sizes {
  background-color: darkslategray;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100px;
}

.toppings {
  display: grid;
  background-color: darkolivegreen;
}