/* App-wide styling */
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #0f1116;
  color: darkslategray;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100vh;
  width: 100vw;
}

/* .navbar { */
/* float: left; */
/* height: 100vh; */
/* width: 250px; */
/* justify-content: center; */
/* align-items: center; */
/* display: flex; */
/* width: 120px; */
/* flex-direction: column; */
/* gap: 10; */
/* padding: 15px; */
/* background-color: #777; */
/* } */

.navbar {
  /* width: 250px; */
  background-color: #777;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 15px 10px; */
  /* gap: 15px; */
  border-right: 2px solid #333;
  box-sizing: border-box;
}

/* .nav-item { */
/* display: flex; */
/* align-items: center; */
/* justify-content: center; */
/* height: 90px; */
/* width: 125%; */
/* border-radius: 8px; */
/* background-color: #9b7ead; */
/* color: black; */
/* font-weight: bold; */
/* cursor: pointer; */
/* border: none; */
/* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); */
/* padding: 10px; */
/* margin: 50%; */
/* margin-left: -50%; */
/* } */

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 150%;
  padding: 15px;
  margin: 25%;
  margin-left: -2.5rem;
  border-radius: 8px;
  background-color: #9b7ead;
  color: black;
  font-weight: bold;
  /* font-size: 1rem; */
  text-align: center;
  cursor: pointer;
  border: none;
}

.renderarea {
  height: 100vh;
  color: white;
  /* display: grid; */
  /* flex-grow: 1; */
  /* padding: 20px; */
  background-color: darkgreen;
}