/* App-wide styling */
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  /* hide during normal use. one to make sure there is no overflow */
  /* overflow: hidden; */
  background-color: #0f1116;
  color: darkslategray;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* display: flex; */
  /* flex-direction: row; */
}

a {
  text-decoration: none;
  color: black;
}

.dashboard-container {
  /* display: grid; */
  /* grid-template-columns: auto 1fr; */
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.navbar {
  width: 10%;
  height: 100vh;
  background-color: #777;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #333;
  justify-content: center;
  align-items: center;
}

.nav-item {
  transition: background-color .1s ease-in-out;
  color: black;
  text-decoration: none;
  background-color: #9b7ead;
  font-weight: bold;
  height: 10%;
  width: 75%;
  align-content: center;
  text-align: center;
  margin: 10%;
  border-radius: 8px;
  box-shadow: 0px 8px 16px -8px rgba(0, 0, 0, 0.5);
}

.renderarea {
  /* grid-area: render; */
  height: 100vh;
  width: 100%;
  color: white;
  background-color: darkgreen;
}

.order-container {
  /* display: grid; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.order-options {
  width: 100%;
  /* grid-area: oo; */
  display: flex;
  flex-direction: column;
}

.sizes {
  /* grid-area: a; */
  background-color: #4E4E4E;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
}

.sizes button {
  height: 75%;
  width: 10%;
  margin-left: 5%;
  margin-right: 5%;
}

.toppings {
  align-items: center;
  /* grid-area: b; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100%;
  /* background-color: darkolivegreen; */
  background-color: #D9D9D9;
}

.toppings button {
  justify-self: center;
  width: 50%;
  height: 50%;
  cursor: pointer;
}

.current-order-container {
  align-items: center;
  background-color: #AEAEAE;
  display: flex;
  height: 100%;
  width: 40%;
  flex-direction: column;
}

.current-order {
  color: black;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  height: 85%;
  width: 85%;
  padding: 2.5%;
  padding-bottom: 0%;
  margin-top: 5%;
  overflow-y: auto;
  border-radius: 6px;
  box-shadow: 0px 8px 16px -8px rgba(0, 0, 0, 0.5);
}

.send-to-kitchen {
  font-size: 150%;
  cursor: pointer;
  margin-top: 3%;
  width: 90%;
  height: 7.5%;
  background-color: #CE6B6B;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 8px 16px -8px rgba(0, 0, 0, 0.5);
}

.send-to-kitchen:active {
  background-color: black;
}

.pizza-div {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 2%;
  padding: 5%;
  border-radius: 6px;
}

.pizza-div.active {
  background-color: rgba(0, 0, 0, 0.4);
}

.pizza-div:hover {
  cursor: pointer;
}