/* App-wide styling */
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  /* hide during normal use. one to make sure there is no overflow */
  /* overflow: hidden; */
  background-color: #0f1116;
  color: darkslategray;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* my stuff */
}

.dashboard-container {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  width: 100vw;
}

.navbar {
  width: 200px;
  height: 100vh;
  background-color: #777;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 15px 10px; */
  /* gap: 15px; */
  border-right: 2px solid #333;
  box-sizing: border-box;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 150%;
  padding: 15px;
  margin: 25%;
  margin-left: -2.5rem;
  border-radius: 8px;
  background-color: #9b7ead;
  color: black;
  font-weight: bold;
  /* font-size: 1rem; */
  text-align: center;
  cursor: pointer;
  border: none;
}

.renderarea {
  height: 100vh;
  width: 100%;
  color: white;
  /* display: grid; */
  /* align-items: center; */
  /* justify-content: center; */
  /* display: grid; */
  /* flex-grow: 1; */
  /* padding: 20px; */
  background-color: darkgreen;
}

.order-container {
  /* background-color: palevioletred; */
  display: grid;
  /* grid-template-rows: */
  /*200px*/
  /* auto 1fr; */
  width: 100%;
  /* width: 1000px; */
  height: 100%;
  /* grid-template-columns: auto 1fr 1fr; */
  /* grid-template-areas: */
  /* "a a b" */
  /* "c c b"; */
  /* grid-template-areas: */
  /* "oo co" */
  /* "oo co"; */
  display: flex;
  flex-direction: row;
}

.order-options {
  /* width: 1000px; */
  width: 100%;
  grid-area: oo;
  display: flex;
  flex-direction: column;
  /* display: grid; */
  /* grid-template-areas: */
  /* "a a" */
  /* "b b"; */
}

.sizes {
  grid-area: a;
  background-color: darkslategray;
  align-items: center;
  justify-content: center;
  /* justify-self: top; */
  display: flex;
  flex-direction: row;
  /* width: 100vw; */
  width: 100%;
  height: 100px;
}

.toppings {
  /* align-items: center; */
  /* justify-content: center; */
  grid-area: b;
  display: grid;
  /* width: 100vw; */
  height: 100%;
  background-color: darkolivegreen;
}

.current-order-container {
  justify-content: center;
  /* grid-area: b; */
  background-color: darkgoldenrod;
  /* justify-self: end; */
  display: grid;
  height: 100%;
  width: 40%;
  /* width: 100%; */
  /* width: 100vw; */
}